In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
upload = files.upload()
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
customer = pd.read_csv("customer.csv")
products = pd.read_csv("products.csv")

Saving customer.csv to customer.csv
Saving movies.csv to movies.csv
Saving products.csv to products.csv
Saving ratings.csv to ratings.csv

In [ ]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movies = pd.merge(movies, ratings, on="movieId").drop(["timestamp","genres"], axis=1)
movies.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [ ]:
movies["rating"].unique()

array([4. , 4.5, 2.5, 3.5, 3. , 5. , 0.5, 2. , 1.5, 1. ])

In [ ]:
movie_rating  = movies.groupby("title")["rating"].count().reset_index().rename(columns={"rating":"total rating"})[["title", "total rating"]]

In [ ]:
movies = movies.merge(movie_rating, left_on = 'title', right_on = 'title', how = 'left')
movies.head()

   movieId             title  userId  rating  total rating
0        1  Toy Story (1995)       1     4.0           215
1        1  Toy Story (1995)       5     4.0           215
2        1  Toy Story (1995)       7     4.5           215
3        1  Toy Story (1995)      15     2.5           215
4        1  Toy Story (1995)      17     4.5           215

In [ ]:
movies = movies[movies["total rating"]>50]

In [ ]:
movies.shape

(40712, 5)

In [ ]:
customer.shape

(13091, 2)

In [ ]:
products.shape

(24, 4)

In [ ]:
customer.head()

   user_Id                email
0    15889  cust15889@gmail.com
1    15890  cust15890@gmail.com
2    15891  cust15891@gmail.com
3    15892  cust15892@gmail.com
4    15893  cust15893@gmail.com

In [ ]:
import random
pro = []
for i in range(len(customer)):
  item = random.choice(products["item_name"].to_list())
  pro.append(item)

In [ ]:
customer["product"] = pro

In [ ]:
customer.head()

   user_Id                email               product
0    15889  cust15889@gmail.com  Medium-term deposits
1    15890  cust15890@gmail.com            Securities
2    15891  cust15891@gmail.com          Direct Debit
3    15892  cust15892@gmail.com       Payroll Account
4    15893  cust15893@gmail.com              Pensions

In [ ]:
rate = []
for i in range(len(customer)):
  item = random.choice(movies["rating"].to_list())
  rate.append(item)

#adding rating 
customer["rating"] = rate

In [ ]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13091 entries, 0 to 13090
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_Id  13091 non-null  int64
 1   email    13091 non-null  object
 2   product  13091 non-null  object
 3   rating   13091 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 409.2+ KB

In [ ]:
customer.head()

   user_Id                email               product  rating
0    15889  cust15889@gmail.com  Medium-term deposits     3.5
1    15890  cust15890@gmail.com            Securities     3.0
2    15891  cust15891@gmail.com          Direct Debit     4.0
3    15892  cust15892@gmail.com       Payroll Account     2.0
4    15893  cust15893@gmail.com              Pensions     1.0

In [ ]:
customer.to_csv("bankProduct.csv", index=False)
files.download("bankProduct.csv")

# Model Building

In [ ]:
data = customer.pivot_table(index="product", columns="email", values="rating").fillna(0)
data.head()

email,cust15889@gmail.com,cust15890@gmail.com,cust15891@gmail.com,cust15892@gmail.com,cust15893@gmail.com,cust15894@gmail.com,cust15895@gmail.com,cust15896@gmail.com,cust15897@gmail.com,cust15898@gmail.com,...,cust43116@gmail.com,cust43118@gmail.com,cust43123@gmail.com,cust43124@gmail.com,cust43125@gmail.com,cust43131@gmail.com,cust43132@gmail.com,cust43133@gmail.com,cust43134@gmail.com,cust43136@gmail.com
product,,,,,,,,,,,,,,,,,,,,,
Credit Card,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Current Accounts,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Derivada Account,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Direct Debit,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Funds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [ ]:
from scipy.sparse import csr_matrix

data_matrix = csr_matrix(data.values) # converting pivot table to array matrix

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(data_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
data.shape

(23, 13091)

In [ ]:
index = np.random.choice(data.shape[0])
print(f"cusotmer index: {index}\ncustomer mail: {customer.iloc[index,1]}") # random customer
distances, indices = model_knn.kneighbors(data.iloc[index,:].values.reshape(1, -1), n_neighbors = 6)

cusotmer index: 4
customer mail: cust15893@gmail.com

In [ ]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print(f"Recommendations for {data.index[index]} bank product: \n")
    else:
        print(f"{data.index[indices.flatten()[i]]}, with distance of {distances.flatten()[i]}")

Recommendations for Funds bank product:

Securities, with distance of 1.0
Taxes, with distance of 1.0
Pensions, with distance of 1.0
Saving Account, with distance of 1.0
Payroll, with distance of 1.0

In [ ]:
list(customer["product"].unique())

['Medium-term deposits',
 'Securities',
 'Direct Debit',
 'Payroll Account',
 'Pensions',
 'Credit Card',
 'Current Accounts',
 'Home Account',
 'Funds',
 'Payroll',
 'Mortgage',
 'Taxes',
 'Loans',
 'particular Plus Account',
 'Derivada Account',
 'particular Account',
 'Saving Account',
 'Guarantees',
 'Junior Account',
 'Long-term deposits',
 'e-account',
 'Mas particular Account',
 'Short-term deposits']